@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Inter', Helvetica, sans-serif;
}

body {
    font-family: 'Inter';
    font-size: 18px;
    background-color: #141414;
    color: #FFFFFF;
}

.container {
    display: flex;
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 20px;
}

.logo a {
    font-family: 'Calistoga', cursive;
    font-size: 32px;
    color: #FFF;
    text-decoration: none;
}
.logo:hover a {
    color: #FE6A0F;
}
.logo:hover a span {
    color: #FFF;
}
.logo a span {
    color: #FE6A0F;
}

/*HEADER*/

header .container {
    display: flex;
    justify-content: space-between;
    padding: 45px 5px;
    gap: 50px
}   

header nav {
    flex: 1;
    display: flex;
    align-items: center;
}

header nav .leftside {
    display: flex;
    flex: 1;
    gap: 60px
}

header nav li a {
    color: #FFF;
    text-decoration: none;
}
header nav li a:hover {
    color: #FE6A0F;
}

header nav .button {
    display: block;
    border: 1px solid #FFF;
    padding: 12px 25px;
    border-radius:  5px;
    color: #FFF;
    text-decoration: none;
}
header nav .button:hover {
    background-color: #FE6A0F;
    border-color: #FE6A0F;
}

header .menu {
    display: none;
} 

header .menu-icon {
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}
header .menu-icon div {
    display: flex;
    height: 6px;;
    background-color: #FFF;
}
header .menu-icon div:nth-child(1) {
    background-color: #a07938;
    border-radius: 2px 2px 0 0;
}
header .menu-icon div:nth-child(2) {
    background-color: #87583e;
    border-radius: 2px;
}
header .menu-icon div:nth-child(3) {
    background-color: #a07938;
    border-radius: 0 0 2px 2px;
}

/* HERO SECTION */


.hero .container {
    display: flex;
    justify-content: space-between;
    padding: 0px 5px;
    gap: 50px
}
.hero .leftside,
.hero .rightside {
    flex: 1;
}
.hero .leftside {
    padding-bottom: 150px;
}
.hero h1,
.hero h1 span {
    font-family: 'Calistoga';
    font-size: 48px;
    line-height: 74px;
}
.hero h1 span {
    color: #FE6A0F;
}
.hero p {
    font-size: 20px;
    line-height: 26px;
    margin: 40px 0;
}
.hero .button {
    display: inline-block;
    background-color: #FE6A0F;
    font-weight: 500;
    color: #FFF;
    padding:  15px 80px;
    border-radius: 5px;
    text-decoration: none;
}
.hero .button:hover {
    opacity: 0.8;
}
.hero .rightside {
    text-align: center;
}
.hero .rightside img {
    width: auto;
    height: 500px;
}

/* SEARCH SECTION */

.search {
    background-color: #FE6A0F;
    padding: 45px 0;
    margin-top: -85px;
}

.search .container {
    flex-direction: column;
    gap: 15px;
}

.search .title {
    font-size: 32px;
    font-weight: 500;
}


.search .sides {
    display: flex;
    margin-top: 30px;
    gap: 100px
}

.search .leftside,
.search .rightside {
    flex: 1;
}

.search input,
.search select {
    width: 100%;
    background-color: #ec8240;
    color: #FFF;
    font-size: 24px;
    outline: none;
    padding: 20px;
    border: 0;
    border-radius: 5px;
}

.search input {
    background-image: url(../images/searchIcon.png);
    background-repeat: no-repeat;
    background-position: 20px center;
    padding-left: 60px;
}
.search input::placeholder {
    color: #FFF;
}

.search select {
    border-right: 20px solid transparent;
}

@media (max-width: 820px) {

    /*HEADER MOBILE*/

    header .container {
        gap: 30px;
    }

    header nav {
        flex-direction: column;
        gap: 20px;
    }

    header nav .leftside {
        gap: 30px;
    }

    header nav {
        display: none;
    }

    header .menu {
        display: flex;
    }

    /* HERO SECTION MOBILE*/
    
    .hero .container {
        flex-direction: column;
        gap: 10px;
    }

    .hero .leftside {
        text-align: center;
        padding-bottom: 40px;
    }

    .hero h1,
    .hero h1 span {
        font-size: 26px;
        line-height: 36px;
    }

    .hero p {
        font-size: 15px;
        line-height: 22px;
        margin: 20px 0;
    }

    .hero .button {
        padding:  10px 45px;
        font-size: 15px;
    }

    .hero .rightside {
        padding-bottom: 50px;
    }

    .hero .rightside img {
        height: 300px;
    }

    /* SEARCH SECTION MOBILE */

    .search {
        padding-bottom: 30px;
    }
    
    .search .title {
        text-align: center;
        font-size: 24px;
    }
    .search .sides {
        flex-direction: column;
        gap: 20px;
    }

    .search input,
    .search select {
        font-size: 18px;
        padding: 15px;
    }
    .search input {
        background-position: 10px center;
        padding-left: 45px;
    }
}