@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Inter', Helvetica, sans-serif;
}

body {
    font-family: 'Inter';
    font-size: 18px;
    background-color: #141414;
    color: #FFFFFF;
}

.container {
    width: 100vw;
    margin: auto;
    max-width: 1200px;
    padding: 0 20px;
}

.logo a {
    font-family: 'Calistoga', cursive;
    font-size: 32px;
    color: #FFF;
    text-decoration: none;
}

.logo span {
    color: #FE6A0F;
}